<html>
  <head>
    <%= stylesheet_link_tag '/jspec/jspec' %>
    <%= javascript_include_tag '/jspec/jspec' %>
    <% @jspec_rails.required_libs.each do |lib| %>
      <%= javascript_include_tag lib %>      
    <% end %>
    <script>
      JspecRails.init({authenticity_token: '<%= form_authenticity_token -%>' })
    </script>
    <script>
      function runSuites() {
        try {
          JSpec
          <%- @jspec_spec_files.each do |spec| -%>
          .exec('/jspec/spec/<%= spec + '?' + Time.now.strftime('%m%d%y%H%M%S') -%>')
          <%- end -%>
          .run()
          .report();
          JspecRails.insert_visible_failure_message.delay(0.1);
         } catch(err) {
           if(console)
             console.log(err);
           JspecRails.set_red();
         }
       }
    </script>
  </head>
  <body class="jspec" onLoad="runSuites();">
    <div id="jspec-top"><h2 id="jspec-title">JSpec <em><script>document.write(JSpec.version)</script></em></h2></div>
    <div id="jspec"></div>
    <div id="jspec-bottom"></div>
  </body>
</html>
